body {
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  padding: 0 1rem;
  line-height: 1.5rem;
  background-color: #191919;
  color: #d8d8d8;

  @media (max-width: 420px) {
    font-size: 12px;
  }
  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

main#mfe--bubble-sort {
  width: 100%;

  @media (max-width: 1000px) {
    h2,
    h3 {
      text-align: center;
    }
  }

  h1 {
    color: white;
    font-weight: 600;
    margin-block: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
  }
  h2,
  h3 {
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-block: 1rem;
  }
  h3 {
    margin-top: 2rem;
  }

  button {
    appearance: none;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #191919;
    color: #d8d8d8;
    font-family: "Old Standard TT", serif;
    cursor: pointer;
    margin-inline: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:hover {
      background-color: #111111;
    }
    &:disabled {
      background-color: #4f4f4f;
      cursor: not-allowed;
    }

    svg {
      width: 1rem;
    }
  }

  p,
  ol {
    color: white;
    font-weight: 100;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1rem;
    background: #111111;
  }
  ol {
    padding-inline-start: 2rem;
  }

  .inline-code {
    font-family: "Courier New", Courier, monospace;
    font-family: "Fira Code";
    font-optical-sizing: auto;
    color: palevioletred;
  }

  #explanations,
  #example-code {
    container-type: inline-size;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 4px;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  #explanations {
    > div {
      @container (max-width: 899px) {
        max-width: 100%;
      }

      @container (min-width: 900px) {
        flex: 1;
      }
    }
  }

  #example-code {
    max-width: 100%;

    @container (max-width: 550px) {
      div#speed {
        width: 8rem !important;
      }
      #speed #speed-indicator {
        --size: 0.14px !important;
      }
      div#numbers {
        .list-box {
          width: 2.8rem !important;
          height: 2.8rem !important;

          span {
            font-size: 1.5rem !important;
            line-height: 55px !important;
          }
        }
      }
      div#visualization #arrow span {
        --size: 52px !important;
      }
    }
    @container (max-width: 850px) {
      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      div#buttons {
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        column-gap: 0rem;
      }
      div#speed-control {
        justify-content: center;
      }
      div#visualization {
        justify-content: center;
      }
    }

    #buttons {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    #speed-control {
      position: relative;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 2rem;

      button {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 1rem;
        }
      }

      #speed {
        border-radius: 1rem;
        width: 20rem;
        height: 1rem;
        box-shadow: inset 0px 0px 16px 1px #ff21a3;
        position: relative;

        &.disabled {
          box-shadow: inset 0px 0px 16px 1px #ffe2f3;
        }
      }

      #speed-indicator {
        --size: 0.32px;
        position: relative;
        display: inline-block;
        background-color: #340024;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        left: 0;
        top: -8px;
        box-shadow: 0px 0px 6px 1px #fff8fc;
        opacity: 0.95;

        &.disabled {
          background-color: #000000;
        }
      }
    }

    #numbers {
      height: 5rem;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .list-box {
        font-family: "Fira Code", monospace;
        font-optical-sizing: auto;
        font-weight: 100;
        box-sizing: border-box;
        width: 4rem;
        height: 4rem;
        text-align: center;
        display: grid;
        place-items: center;
        background: rgba(25, 155, 255, 0.2);
        border-radius: 50%;
        background: radial-gradient(
          ellipse at center,
          #ffe0f5 0%,
          #e89be3 46%,
          #340024 100%
        );
        border: 1px ridge #c20071;
        perspective: 1000px;
        transition: box-shadow 0.3s;

        span {
          text-shadow: -1px -1px 0 #e1d3e1, 1px -1px 0 #1e0020,
            -1px 1px 0 #2c002b, 1px 1px 0 #320032;
          color: rgb(226 87 255);
          line-height: 70px;
          font-size: 2.5rem;
          transform: translateY(-8px) translateZ(100px) rotateX(316deg)
            skew(0deg, 0deg);
        }

        &.current {
          box-shadow: 0px 0px 6px 4px white;

          &.swap {
            animation: jump-up 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28)
              forwards;
          }
        }
        &.next {
          box-shadow: 0px 0px 5px 3px rgba(246, 200, 255, 0.902);
          &.swap {
            animation: jump-down 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28)
              forwards;
          }
        }
      }
    }

    #visualization {
      max-width: 24rem;
      display: flex;
      justify-content: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0rem 1rem 1rem 1rem;

      > p {
        min-width: 16rem;
        max-width: 20rem;
      }

      #iterations {
        display: grid;
        gap: 0.8rem;
        place-items: center;
        flex: 1;
        align-self: center;

        #iterations-counter {
          font-size: 2.8rem;
        }
      }
    }

    #arrow {
      height: 5rem;

      span {
        --size: 72px;
        display: block;
        height: 3rem;
        width: 3rem;
        position: relative;
        transition: all 0.2s;
      }
    }
  }
}

@keyframes jump-up {
  0% {
    transform: translate(0%, -0%);
    transform: scale(1);
  }
  25% {
    transform: translate(20%, -40%);
    transform: scale(1.05, 0.95);
  }
  30% {
    transform: translate(30%, -45%);
    transform: scale(1.1, 0.9);
  }
  40% {
    transform: translate(45%, -50%);
    transform: scale(1.2, 0.8);
  }
  60% {
    transform: translate(60%, -50%);
    transform: scale(1.1, 0.9);
  }
  70% {
    transform: translate(75%, -45%);
  }
  100% {
    transform: translate(112%, 0%);
  }
}
@keyframes jump-down {
  0% {
    transform: translate(-0%, 0%);
  }
  25% {
    transform: translate(-20%, 40%);
  }
  30% {
    transform: translate(-30%, 45%);
  }
  40% {
    transform: translate(-45%, 50%);
  }
  60% {
    transform: translate(-60%, 50%);
  }
  70% {
    transform: translate(-75%, 45%);
  }
  100% {
    transform: translate(-112%, 0%);
  }
}
