main#mfe--bubble-sort {
  code {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    line-height: 1.2rem;
    display: block;
    background: lightgray;
    border: 1px solid gray;
    padding: 1rem;

    .highlight {
      font-weight: 700;
      color: green;
    }

    .dynamic {
      background-color: rgb(217, 217, 217);
      font-size: 0.8rem;
      font-weight: 500;
      font-style: italic;
      border: 1px solid grey;
      color: grey;
      border-radius: 3px;
      padding: 0.1rem;
      box-sizing: border-box;
    }
  }
}
