main#mfe--bubble-sort {
  container-type: inline-size;

  code {
    @container (max-width: 900px) {
      max-width: 100%;
    }

    font-family: "Courier New", Courier, monospace;
    font-family: "Fira Code";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    white-space: pre-wrap;
    line-height: 1.2rem;
    display: block;
    background: #0c002647;
    background: radial-gradient(
      ellipse at center,
      #52004503 0%,
      #14000f21 46%,
      #000000c7 100%
    );
    margin-block: 1rem;
    min-width: 26rem;
    max-width: 28rem;
    padding: 1rem;
    border-radius: 2px;
    border: 1px ridge #ffffffbf;
    box-shadow: 0px 0px 7px 0px #ffc1ea3d;

    .highlight {
      box-shadow: inset -1px 5px 14px 6px rgb(255 0 125 / 47%);
      font-weight: 700;
      color: rgb(255, 0, 157);
    }

    .dynamic {
      background-color: rgb(17 0 12);
      font-size: 0.8rem;
      font-weight: 100;
      border: 1px ridge #fb83c9bf;
      color: palevioletred;
      border-radius: 3px;
      padding: 0.1rem 0.4rem;
      box-sizing: border-box;
      opacity: 0.2;
      animation: opacity 0.8s both;
    }
  }
}
@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.9;
  }
}
